body{
    background-color: #FAF9F8;
}
.container {
    max-width: 1008px;
}
.navbar {
    background-color: #FAF9F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}
.navbar-secondLine {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    padding-right: 2rem;
    width: 100%;
}
.navbar-categories {
    width: 75%;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}
.navbar-categories a{
    padding-left: 8px;
    padding-right: 8px;
    color: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.searchbar {
    display: flex;
    border-bottom: 1px solid black; 
}
.searchbar button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    padding-bottom: 3px;
}
.searchbar input{
    outline: none;
    border: none;
    background-color: transparent;
    max-width: 125px;
    margin-left: 0.5rem;
    font-size: 12px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h5{
    width: 100%;
    text-align: left;
}
.new-list {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
}
.new-list a {
    color: black;
    color: inherit;
    padding: 0.5rem 1.25rem;
    margin-right: 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 500;
}
.new-list a:hover {
    text-decoration: none;
}
.new-list .selected {
    background-color: #E50010;
    color: white;
    border: none;
    cursor:default;
}

.container .carousel {
    min-width: 110%;
    display: flex;
    justify-content: center;
}
.carousel-inner {
    display: flex;
    max-width: 90%;
}
.carousel-control-prev{
    width: auto;
    justify-content: unset;
    margin-left: 1rem;
}
.carousel-control-next {
    width: auto;
    justify-content: unset;
    margin-right: 1rem;
}
.card {
    border: none;
    border-radius: 0;
    background-color: #FAF9F8
}
.product-card {
    margin-bottom: 30px;
    width: 222px;
    height: 375px;
}
.product-card img {
    height: 322px;
}
.card-body {
    padding: 0;
    font-size: 0.8125rem;
}
.card-body a {
    color: inherit;
}