body{
    background-color: #FAF9F8;
}
.navbar {
    background-color: #FAF9F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}
.navbar-secondLine {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    padding-right: 2rem;
    width: 100%;
}
.navbar-categories {
    width: 75%;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}
.navbar-categories a{
    padding-left: 8px;
    padding-right: 8px;
    color: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.searchbar {
    display: flex;
    border-bottom: 1px solid black; 
}
.searchbar button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    padding-bottom: 3px;
}
.searchbar input{
    outline: none;
    border: none;
    background-color: transparent;
    max-width: 125px;
    margin-left: 0.5rem;
    font-size: 12px;
}
.new-list {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.new-list a {
    color: black;
    color: inherit;
    padding: 0.5rem 1.25rem;
    margin-right: 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 500;
}
.new-list .selected {
    background-color: #E50010;
    color: white;
    border: none;
}
.product-card {
    margin-bottom: 30px;
    /* Add more custom styles as needed */
}